p{font-size: 30px;}
#map{width:70vw;
background-color: rgb(26, 158, 219);}
#info{width:30vw;
    background-color: rgb(26, 158, 219);
    height: 50px;
    font-family:'Gill Sans MT'
}
#world_heading{
    font-size: 30px;
    font-family:'Gill Sans MT'
}
#info_heading{
    font-size: 30px;
    font-family:'Gill Sans MT'
}
#cname{
    font-size: 35px;
    font-family: monospace;
}
.country{
    fill: rgb(97, 245, 129);
}
.country:hover{
    fill: rgb(73, 45, 12);
}
.ctitle{
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    margin-left: 5%;
    font-family: monospace;
    
}
.cresponse{
    font-size: 20px;
    margin-left: 10%;
    font-family: monospace;
}